/*htmlreference.io — справочник на английском

webref.ru — подробный справочник на русском 

html5book.ru — справочник на русском 

developer.mozilla.org/ru — сайт веб-документации*/

*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #f5f5f5;
}

a{
    text-decoration: none;
}

.header{
    background-color: #0050B3;
    padding-top: 6px;
    padding-bottom: 6px;
}

.header-block{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.search{/*сама встаила*/
    display: flex;
}

.search-input{/*поле поиска*/
    width: 100%;
    max-width: 336px; /*/из макета */
    flex-shrink: 0; /*нельзя сжиматься*/
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    padding-top:5px ;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 30px;
    background-image: url("../img/search.svg");/*не будте нажиматься как кнпока*/
    background-repeat: no-repeat;
    background-position: center right 12px; /*справа на 12 отходит и  по центру*/
    font-family: "SF Pro Display";
    font-size: 14px;
    line-height: 22px;
}

.navigation{
    display: flex;
    align-items: center;
}



.user{
    display: flex;
    align-items: center;
}

.user-avatar{
    margin-right: 8px;
}

.user-name{
    color: #ffffff;
    font-family: "SF Pro Display";
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}

.navigation-panel{
    display: flex;
    align-items: center;
    margin-right: 12px;
    margin-left: 12px;
}

.navigation-link{/* a */
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-family: SF Pro Display;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    margin-left: 12px;
}

.navigation-link::before{ /*псевдоэлемент-горизонтальая черта*/
    content: "";
    
    width: 1px;
    height: 16px;
    background-color: #003A8C;
    margin-right: 12px;
    

}

.navigation-link:last-child::after{ /*псевдоэлемент-горизонтальая черта*/
    content: "";
    
    width: 1px;
    height: 16px;
    background-color: #003A8C;
    margin-left: 12px;
    

}

.icons-panel{ /*флекс контйенейр*/
    display: flex;
    align-items: center;
}

.icon-link{ /*флекс элемент котрый сам флекс контйенер*/
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.header-icon{
    fill: #002766;
}

.header-icon:hover{
    fill: #ffffff;
}

.icon-link:last-child::before{ /*псевдоэлемент, синяя вертикальная черта*/
    content: "";
    width: 1px;
    height: 16px;
    background-color: #003A8C;
    margin-right: 12px;
}

.container{
    max-width:1200px;
    margin: 0 auto;
    display: flex;
}

.menu-sidebar{
    max-width: 192px;
    margin-right: 12px;
}

.menu-sidebar .user{
    padding-left: 10px;
}

.menu-sidebar .user-avatar{
    width: 24px;
    height: 24px;
    
}


.menu-sidebar .user-name{
    color: #262626;
    font-family: "SF Pro Display";
    font-size: 14px;
    line-height: 22px;
}

.nav-group{
    display: flex;
    flex-direction: column; /*главная ось направлена сверху вниз*/
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px;/*если ва нава будут стоять рядом, то бует схлопывание вертикальных оступов*/
}

.nav-link{/*a*/
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    color:  #595959;
    font-weight: normal;
}

.nav-link.active{/*актвиный элемет*/
    background-color: #fff;
    color: #262626;
}

.nav-icon{
    margin-right: 8px;
}

.nav-title{
    color: #262626;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 0;
}

.main-feed{
    max-width: 588px;
    margin-top: 18px;
}

.create-post{
    width: 100%; /*ширина ктакая же как и у родителч*/
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden/*все что не влезает скрываем*/;
}

.create-post-header{
    background-color: #f5f5f5;
    padding: 9px 16px;
}

.create-post-title{
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #595959;
    
}

.create-post-body{
    display: flex;
    align-items:center;
    padding: 16px;
    padding-bottom: 24px;
}

.create-post-footer{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    padding: 16px;
    padding-top: 0;
}

.create-post-footer::before{/*псевдоэелмент горизон черта*/
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    margin-bottom: 16px;
}

.tag{/*button*/
    background: #F5F5F5;
    border-radius: 48px;
    border: none;
    padding-top: 9px;
    padding-left: 24px;
    padding-right: 12px;
    padding-bottom: 9px;
    display: flex;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 10px;
}

.tag-icon{/*svg*/
    margin-right: 8px;
}

.post{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 16px 0;
    padding: 16px;
}

.post-header{   
    display: flex;
    justify-content:space-between;
    margin-bottom: 16px;
}

.post-header-button{
    background-color: #ffffff;
    border:none;
}

.post-header .user-avatar{
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.post-info{
    display: flex;
    flex-wrap: wrap;
}

.post-author{
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    font-weight:600;
}

.post-info-time{
    display: flex;
    align-items: center;
}

.post-time{
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
} 

.post-time::after{ /*псевдоэлемент точка*/
    content: "";
    display: inline-block;/*иначе точка не появится так акак строчный элемент post-time*/
    width: 4px;
    height: 4px;
    background-color: #BFBFBF;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 6px;
    vertical-align: middle;/*чтобы тчка отцентровалась*/
}

.post-text{
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-bottom: 16px;
}


.post-text a{
    color: #096dd9;
}

.post-image{
    width: 100%; /*чтобы картинка не выоезала за пределы поста*/
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 4px;
}

.likes{
    display: flex;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 9px;
}

.likes-counter{
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    font-weight: 600;
    margin-left: 4px;
}

.post-footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post-button{
    display:flex;
    align-items: center;
    background-color: #fff;
    border: none;
}


.post-button-text{
    margin-left: 8px;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}


.post-footer::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    margin-bottom: 16px;
}